<div class="login-window">
  <div class="title">
    <img src="assets/title.png" alt="">
  </div>

  <form role="form" class="form">
    <div class="form-group">
      <label for="player">Valitse pelaaja</label>
      <select name="player" id="player" class="form-control"></select>
    </div>
    <img src="assets/btn-jatka.png" class="jatka">
  </form>
</div>